# Color Registration Configuration
# Lines starting with # are comments

# Pose estimation parameters
time_delay: 0.1 # seconds to delay pose timestamps (positive delays the pose, negative advances it)

# Camera intrinsics
focal_length: 1000.0
image_width: 1920
image_height: 1080
principal_x: 960.0
principal_y: 540.0

# Point cloud filtering
voxel_size: 0.08
min_depth: 1.0
max_depth: 400.0
filter_outliers: true
sor_neighbors: 10
sor_std_ratio: 2.0

# Hidden point removal
hpr_radius: 20000.0

# Background sphere
fill_background: true
sphere_radius: 50.0 #meters
sphere_num_points: 50000 #points to sample on the sphere

# Camera-to-body transform (row-major 4x4)
# This transforms from camera frame to body frame
# Default: x-forward, y-left, z-up body frame to z-forward, x-right, y-down camera frame
trans_mat: [0, 0, 1, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0, 1]
poses_are_body_frame: true

# Paths (relative to data_folder - NO NEED TO CHANGE UNLESS YOU CHANGED THE FOLDER STRUCTURE)
pcd_file: pcd/input.pcd
downsampled_file: pcd/downsampled.pcd
reconstructed_file: pcd/reconstructed.pcd


poses_file: poses.csv
registration_file: color_registration.csv
pose_timestamps_file: timestamps/odom.csv
image_timestamps_file: timestamps/image.csv

images_dir: distorted/images
